/*
// Desc.     :   Css principal
*/


*{
    margin:0px;
    padding:0px;
}
/* 
.graphContainer {
    width:98vw;
    height:50vh;
    display:flex;   
    flex-flow: row;
} */

.graphContainer > div {
    height:100%;
}

.overflow-scroll-vertical {
    overflow-y:scroll;
}

.max-vh-75 {
    max-height: 75vh;
}

.vh-50 {
    height :75vh;
}